<form>
  <div class="form-group">
    <label for="query">Query String</label>
    {{input value=query id="query"}}
  </div>
  <button class="btn btn-success" {{action 'billLookup' }}>Submit</button>
</form>
