<h1>Chamber Lookup</h1>

<form>
  <div class="form-group">
    {{#power-select
     selected=selectedChamber
     options=chambers
    onchange=(action "chooseChamber")
    as |name|
   }}
   {{name}}

   {{/power-select}}
  </div>
  <button class="btn btn-success" {{action 'chamberLookup' }}>Submit</button>
</form>
