
<form>
  <div class="form-group">
    <label for="parentId">Committee Parent ID</label>
    {{input value=parentId id="parentId"}}
  </div>
  <button class="btn btn-success" {{action 'subCommitteeLookup' }}>Submit</button>
</form>
