<div class="container">
  <header>
    <h1>Legistative Lookups</h1>
    <h5>Find out what your legislators are really up to!</h5>
  </header>
    {{outlet}}
  <hr>
  <footer>
    {{#link-to 'index'}}Home{{/link-to}}
  </footer>
</div>
